body{
  background-color: #f2f2f2 !important;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;

}
.navbar a{
  font-weight: 700;
  text-decoration: none;
  color: #000;
  font-size: 15px;

 
}

.jumbotron{
  background-color: #f2f2f2 !important;
  padding: 20px;
  margin-bottom: 0;
}

.card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  font-family: arial;
}